- sensor:
  - name: "Energy config - Good Day Calculator"
    unique_id: energy_config_good_day_calculator
    unit_of_measurement: %
    state: >
      {% set pv_forecast_values = state_attr('sensor.p_pv_forecast', 'forecasts') | map(attribute='p_pv_forecast') | map('float') | list %}
      {% set load_forecast_values = state_attr('sensor.p_load_forecast', 'forecasts') | map(attribute='p_load_forecast') | map('float') | list %}
      {% set total_pv_kwh = (pv_forecast_values | sum) * 0.5 / 1000 %}
      {% set total_load_kwh = (load_forecast_values | sum) * 0.5 / 1000 %}
      {{ ((total_pv_kwh / total_load_kwh * 100) - 100) | round(0) }}
