# Git Ignore
/prompt.txt
/emhass_config.json
*.log
*.sqlite
*.sqlite-wal
*.db
__pycache__/
*.pyc

# IDE/Editor
.vscode/ # VS Code Workspace-Einstellungen
.idea/ # JetBrains IDEs
*~

# macOS
.DS_Store
